body{
    margin: 0;
}

.top{
    background-color: #E7F6F2;
}

.middle{
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom{
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.header {
    margin-top: 0;
    font-family: 'Lucida Handwriting';
    color: #6D9886;
}

p{
    font-family: 'Bahnschrift Light';
    color: #6D9886;
}

.header_image{
    width: 400px;
}

.avatar{
    position: relative;
    left: 30px;
    top: 30px;
    width: 80px;
}